<!DOCTYPE html>
<html>
<head>
    <title>漫威人物知识图谱系统</title>
    <link href="/static/css/style.css" rel="stylesheet"/>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.16.3/cytoscape.min.js"></script>
    <script src="/static/js/cy.js"></script>
    <script src="/static/js/button.js"></script>
</head>
<body>
<h1>漫威人物知识图谱系统</h1>
<button>human</button>
<button>asgardian</button>
<button>others</button>
<br>
<button>friend</button>
<button>enemy</button>
<button>love</button>
<button>work</button>
<button>family</button>
<button>love</button>


<div id="cy"></div>
</body>
</html>